/* reset css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
    background-color: dimgrey;
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color:rgb(77, 62,62);
    text-align: center;
}

main {
    width: 100%;
    height: 700px;
    background-color: darkcyan;
}

footer {
    width: 100%;
    height: 200px;
    background-color: darksalmon;
}

img {
    width: 100%;
    /* margin-top: 50%; */
}
a {
    color: white;
    text-decoration: none;
}
section {
    width: 100%;
    height: 300px;

}

.item {
    color: white;
    font-size: 1.1em;
    display: inline-block;
    padding-left: 20px;
}

.goku {
    width: 30%;
    float: left;
    border: black 2px solid; 
    box-shadow: 5px 2px darkgray; 
    margin: 10px;
    margin-left: 15px;
    padding-left: 15px;
    text-align: center;
}

#principal {
    width: 50%;
    margin: 0 auto;
}

#DB {
    width: 100px;
    margin: 0 auto;
}

#botao {
    width: 30px;
    height: 30px;
    margin-left: 90%;
    padding-top: 150px;
}




