*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://www.99images.com/photos/wallpapers/anime/death-note-ryukandroid-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-ccarw.png?v=1577886724);
}

h1 {
    text-align: center;
    color: red;
}

textarea {
    resize: none;
}

#caixa-formulario{
    margin: 0 auto;
    width: 340px;
    height: 400px;
    border-radius: 5px 10px 15px 20px;
    border: rgb(212, 10, 10) 1px solid;
    
}